
<ion-header>
  <ion-navbar>
    <ion-title>Teste Api - Forms</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label floating>Nome</ion-label>
    <ion-input type="text" [(ngModel)]="testeApi.nome"></ion-input>
  </ion-item>
  <ion-row>
    <ion-card>
      <ion-fab right class="excluir-imagem" *ngIf="testeApi.imagem" (click)="excluirFoto()">
        <button ion-fab>
          <ion-icon name="close"></ion-icon>
        </button>
      </ion-fab>
      <img src="{{ testeApi.imagem }}" *ngIf="testeApi.imagem" />
      <ion-card-content>
        <button ion-button full (click)='tirarFoto()'>Tirar Foto</button>
      </ion-card-content>
    </ion-card>
  </ion-row>
  <ion-row *ngIf="habilitarBotaoExcluir">
    <button ion-button full color="danger" (click)="btnExcluir()">Excluir</button>
  </ion-row>
</ion-content>
<ion-footer>
  <button ion-button full (click)="btnSalvar()" [disabled]="desativarBotao">{{ textoBotao }}</button>
</ion-footer>
