<ion-header>
  <ion-navbar>
    <ion-title>Teste API - Detalhes</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <button ion-button full (click)="abrirForm()">Cadastrar</button>
    <ion-list>
      <ion-item *ngFor="let item of testeApiList" (click)="abrirForm(item)">
        <ion-avatar item-start>
          <img src="{{ item.imagem }}">
        </ion-avatar>
        <h2>{{ item.nome }}</h2>
      </ion-item>
    </ion-list>
</ion-content>
